version: '3.8'

services:
  api:
    build: .
    container_name: veefyed-backend-task
    ports:
      - '8000:8000'
    environment:
      - API_KEY=${API_KEY:veefyed-UV9tbAcqbFpk}
      - HOST=0.0.0.0
      - PORT=8000
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000/health']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
